/* -------------------- common start -------------------- */
body {
  font-family: "Microsoft YaHei";
  font-size: 14px;
  color: #74756d;
}
body,
div,
a,
ul,
li,
h3,
img,
p {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
}
a {
  text-decoration: none;
}
h3 {
  font-weight: normal;
}
img {
  vertical-align: top;
}
/* -------------------- common end -------------------- */
.header {
  padding: 0 10px;
  margin: 0 auto;
  max-width: 1200px;
  zoom: 1;
}
.header img {
  float: left;
  margin: 7px 0;
  width: 145px;
  height: 37px;
}
.header .nav-link {
  float: right;
}
.header .nav-link .nav-link-item {
  display: inline-block;
  margin-left: 35px;
  padding: 15px 2px;
  color: #21645d;
}
.header .nav-link .nav-link-item:first-child {
  margin-left: 0;
}
.header:after {
  display: table;
  content: '';
  clear: both;
  width: 0;
  overflow: hidden;
}
.case-content .banner img {
  width: 100%;
  border-top: 1px solid #bfc8ce;
  border-bottom: 1px solid #bfc8ce;
}
.case-content .banner .banner-desc {
  margin: 0 auto;
  padding: 48px 10px;
  max-width: 1200px;
}
.case-content .banner .banner-desc h3 {
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 30px;
  color: #333;
  text-align: center;
}
.case-content .banner .banner-desc .banner-desc-content {
  max-height: 120px;
  line-height: 30px;
  overflow: hidden;
  font-size: 16px;
  text-indent: 30px;
  letter-spacing: 1px;
}
.case-content .banner .banner-desc .more-btn {
  padding-left: 28px;
  line-height: 30px;
  color: #21645d;
}
.case-content .list .list-tab {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1200px;
  zoom: 1;
}
.case-content .list .list-tab:after {
  display: table;
  content: '';
  clear: both;
  width: 0;
  overflow: hidden;
}
.case-content .list .list-tab .list-tab-btn {
  float: left;
  padding: 0 19px 15px;
  margin: 0 20px -2px 0;
  font-size: 16px;
  color: #21645d;
  cursor: pointer;
}
.case-content .list .list-tab .list-tab-btn.active {
  color: #333;
  border-bottom: 4px solid #175540;
}
.case-content .list .list-tab-content {
  border-top: 2px solid #79a19d;
}
.case-content .list .list-tab-content .list-tab-item {
  margin: 0 auto;
  max-width: 1200px;
}
.case-content .list .list-tab-content .list-tab-item li {
  padding: 20px 10px;
  zoom: 1;
}
.case-content .list .list-tab-content .list-tab-item li:after {
  display: table;
  content: '';
  clear: both;
  width: 0;
  overflow: hidden;
}
.case-content .list .list-tab-content .list-tab-item li .tab-item-left {
  float: left;
  width: 75%;
}
.case-content .list .list-tab-content .list-tab-item li .tab-item-left h3 {
  position: relative;
  margin-top: 13px;
  padding: 0 65px 0 51px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px;
  font-size: 18px;
  color: #21645d;
}
.case-content .list .list-tab-content .list-tab-item li .tab-item-left h3 .free-btn {
  position: absolute;
  top: 4px;
  left: 0px;
  padding: 2px 6px;
  line-height: normal;
  background-color: #a8384e;
  font-size: 12px;
  color: #fff;
  border-radius: 2px;
  cursor: default;
}
.case-content .list .list-tab-content .list-tab-item li .tab-item-left h3 .download-content {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  font-size: 12px;
  cursor: pointer;
}
.case-content .list .list-tab-content .list-tab-item li .tab-item-left h3 .download-content .download-btn {
  display: block;
  background-color: #21645d;
  text-align: center;
  color: #fff;
  border-radius: 2px;
}
.case-content .list .list-tab-content .list-tab-item li .tab-item-left h3 .download-content .download-img {
  display: none;
  position: absolute;
  top: 3px;
  right: 0;
}
.case-content .list .list-tab-content .list-tab-item li .tab-item-left h3 .download-content.active .download-btn {
  display: none;
}
.case-content .list .list-tab-content .list-tab-item li .tab-item-left h3 .download-content.active .download-img {
  display: block;
}
.case-content .list .list-tab-content .list-tab-item li .tab-item-left .list-main {
  margin-top: 20px;
  max-height: 72px;
  overflow: hidden;
  line-height: 24px;
  letter-spacing: 1px;
}
.case-content .list .list-tab-content .list-tab-item li .tab-item-right {
  position: relative;
  float: right;
  width: 23%;
  min-height: 150px;
}
.case-content .list .list-tab-content .list-tab-item li .tab-item-right img {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 113px;
}
.case-content .list .list-tab-content .list-tab-item li .tab-item-right .book-info {
  margin-left: 123px;
}
.case-content .list .list-tab-content .list-tab-item li .tab-item-right .book-info .book-name {
  margin-top: 13px;
  font-size: 16px;
  color: #21645d;
}
.case-content .list .list-tab-content .list-tab-item li .tab-item-right .book-info .book-date {
  margin-top: 9px;
  color: #999;
}
.case-content .list .list-tab-content .list-tab-item li .tab-item-right .book-info .book-icon {
  margin-top: 22px;
  zoom: 1;
}
.case-content .list .list-tab-content .list-tab-item li .tab-item-right .book-info .book-icon:after {
  display: table;
  content: '';
  clear: both;
  width: 0;
  overflow: hidden;
}
.case-content .list .list-tab-content .list-tab-item li .tab-item-right .book-info .book-icon span {
  float: left;
  margin: 0 5px 5px 0;
  padding: 1px 4px;
  border: 1px solid #8ec1b8;
  border-radius: 2px;
  font-size: 12px;
  color: #6ea99f;
}
.case-content .list .list-tab-content .list-tab-item li.change-bg {
  background-color: #f2f6f6;
}
.case-content .related-recommend {
  margin: 0 auto;
  padding: 40px 10px 20px;
  max-width: 1200px;
}
.case-content .related-recommend h3 {
  border-bottom: 1px solid #ccc;
}
.case-content .related-recommend h3 span {
  display: inline-block;
  padding-bottom: 8px;
  border-bottom: 4px solid #74756d;
  font-size: 18px;
  font-weight: bold;
}
.case-content .related-recommend .related-img-container .related-slider {
  margin-top: 30px;
  zoom: 1;
}
.case-content .related-recommend .related-img-container .related-slider:after {
  display: table;
  content: '';
  clear: both;
  width: 0;
  overflow: hidden;
}
.case-content .related-recommend .related-img-container .related-slider li {
  float: left;
  width: 24%;
  margin-left: 1.333%;
}
.case-content .related-recommend .related-img-container .related-slider li img {
  width: 100%;
}
.case-content .related-recommend .related-img-container .related-slider li:first-child {
  margin-left: 0;
}
@media (max-width: 960px) {
  .case-content .list .list-tab-content .list-tab-item li .tab-item-left {
    width: 58%;
  }
  .case-content .list .list-tab-content .list-tab-item li .tab-item-right {
    width: 40%;
  }
}
@media (max-width: 640px) {
  .header .nav-link .nav-link-item {
    margin-left: 10px;
  }
  .case-content .banner .banner-desc {
    margin: 0 auto;
    padding: 14px 10px;
    border-bottom: 1px solid #ccc;
  }
  .case-content .banner .banner-desc h3 {
    margin-bottom: 10px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
  }
  .case-content .banner .banner-desc .banner-desc-content {
    max-height: 54px;
    overflow: hidden;
    line-height: 18px;
    font-size: 14px;
  }
  .case-content .banner .banner-desc .more-btn {
    margin: 12px auto 0;
    padding-left: 0;
    width: 83px;
    height: 18px;
    line-height: 18px;
    border: 1px solid #21645d;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
  }
  .case-content .list {
    padding: 10px 0;
    background-color: #f5f5f5;
  }
  .case-content .list .list-tab {
    padding-top: 10px;
    background-color: #fff;
    border-top: 1px solid #ccc;
  }
  .case-content .list .list-tab .list-tab-btn {
    padding: 0 0 10px 0;
    margin: 0 0 -1px 0;
    width: 25%;
    font-size: 14px;
    text-align: center;
  }
  .case-content .list .list-tab .list-tab-btn.active {
    border-bottom: 2px solid #175540;
  }
  .case-content .list .list-tab-content {
    border-top: 1px solid #79a19d;
  }
  .case-content .list .list-tab-content .list-tab-item li {
    margin-top: 5px;
    padding: 20px 10px 4px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  .case-content .list .list-tab-content .list-tab-item li .tab-item-left {
    width: 100%;
  }
  .case-content .list .list-tab-content .list-tab-item li .tab-item-left h3 {
    margin-top: 0;
    font-size: 16px;
    font-weight: bold;
  }
  .case-content .list .list-tab-content .list-tab-item li .tab-item-left .list-main {
    margin-top: 15px;
    line-height: 18px;
    max-height: 54px;
    font-size: 14px;
    letter-spacing: 1px;
  }
  .case-content .list .list-tab-content .list-tab-item li .tab-item-right {
    position: static;
    margin-top: 8px;
    width: 100%;
    min-height: auto;
    border-top: 1px solid #ccc;
  }
  .case-content .list .list-tab-content .list-tab-item li .tab-item-right img,
  .case-content .list .list-tab-content .list-tab-item li .tab-item-right .book-icon {
    display: none;
  }
  .case-content .list .list-tab-content .list-tab-item li .tab-item-right .book-info {
    margin-left: 0;
    zoom: 1;
  }
  .case-content .list .list-tab-content .list-tab-item li .tab-item-right .book-info:after {
    display: table;
    content: '';
    clear: both;
    width: 0;
    overflow: hidden;
  }
  .case-content .list .list-tab-content .list-tab-item li .tab-item-right .book-info .book-name {
    float: left;
    margin-top: 7px;
    font-size: 14px;
  }
  .case-content .list .list-tab-content .list-tab-item li .tab-item-right .book-info .book-date {
    float: right;
    margin-top: 7px;
    font-size: 14px;
  }
  .case-content .list .list-tab-content .list-tab-item li.change-bg {
    background-color: #fff;
  }
  .case-content .list .list-tab-content .list-tab-item li:first-child {
    margin-top: 0;
    border-top: 0;
  }
  .case-content .related-recommend {
    padding-top: 13px;
    border-top: 1px solid #ccc;
  }
  .case-content .related-recommend h3 {
    border-bottom: 0;
  }
  .case-content .related-recommend h3 span {
    padding-bottom: 0;
    border-bottom: none;
    font-size: 14px;
  }
  .case-content .related-recommend .related-img-container {
    position: relative;
  }
  .case-content .related-recommend .related-img-container .related-slider {
    margin-top: 10px;
  }
  .case-content .related-recommend .related-img-container .related-slider li {
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 0;
    width: 100%;
  }
  .case-content .related-recommend .related-img-container .related-slider li img {
    width: 100%;
  }
  .case-content .related-recommend .related-img-container .slider-all-num-icon {
    position: absolute;
    left: 50%;
    height: 10px;
  }
  .case-content .related-recommend .related-img-container .slider-all-num-icon span {
    display: inline-block;
    margin: 0 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 0px 2px 0 #000 inset;
  }
  .case-content .related-recommend .related-img-container .slider-all-num-icon span.on {
    background-color: #333;
  }
}
@media (max-width: 640px) and (max-width: 400px) {
  .header .nav-link {
    display: none;
  }
}
/* -------------------- footer start-------------------- */
/* -------------------- visible & hidden -------------------- */
@media (max-width: 639px) {
  .med-hidden-sm {
    display: none !important;
  }
}
@media (min-width: 960px) {
  .med-hidden-lg {
    display: none !important;
  }
}
.med-visible-sm-block,
.med-visible-sm-inline,
.med-visible-sm-inline-block {
  display: none !important;
}
.med-visible-md-block,
.med-visible-md-inline,
.med-visible-md-inline-block {
  display: none !important;
}
.med-visible-lg-block,
.med-visible-lg-inline,
.med-visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 639px) {
  .med-visible-sm-block {
    display: block !important;
  }
  .med-visible-sm-inline {
    display: inline !important;
  }
  .med-visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 640px) and (max-width: 960px) {
  .med-visible-md-block {
    display: block !important;
  }
  .med-visible-md-inline {
    display: inline !important;
  }
  .med-visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 960px) {
  .med-visible-lg-block {
    display: block !important;
  }
  .med-visible-lg-inline {
    display: inline !important;
  }
  .med-visible-lg-inline-block {
    display: inline-block !important;
  }
}
/* -------------------- visible & hidden -------------------- */
.med-footer {
  padding-top: 50px;
  background-color: #fff;
  color: #666;
}
.med-footer a {
  color: #666;
  text-decoration: none;
}
.med-footer a:hover {
  color: #3ab176;
  text-decoration: underline;
}
.med-footer .clear {
  zoom: 1;
}
.med-footer .clear:after {
  display: table;
  content: '';
  clear: both;
  width: 0;
  overflow: hidden;
}
.med-footer .med-container {
  margin: 0 auto;
  width: 960px;
  font-size: 12px;
  font-family: "microsoft yahei";
}
@media (max-width: 959px) {
  .med-footer .med-container {
    width: 100%;
  }
}
@media (max-width: 639px) {
  .med-footer .med-container {
    font-size: 14px;
  }
}
@media (max-width: 639px) {
  .med-footer {
    padding-top: 20px;
  }
}
.med-footer .med-container {
  line-height: 26px;
}
.med-footer .med-info {
  background-color: #ebebeb;
  padding: 10px 0 10px 0;
}
@media (max-width: 630px) {
  .med-footer .med-info {
    padding: 10px;
  }
}
.med-footer .med-info img {
  display: block;
  padding: 0 0 10px 0;
}
@media (max-width: 639px) {
  .med-footer .med-info img {
    display: inline-block;
    padding: 0 20px 0 0;
  }
}
@media (max-width: 639px) {
  .med-footer .med-logo img {
    margin: 5px 0;
  }
}
.med-footer .med-info .med-logo {
  float: left;
  padding: 4px 30px 0 0;
}
.med-footer .med-info .med-links {
  float: left;
  padding: 0 30px 0 0;
}
.med-footer .med-info .med-copyright {
  float: left;
  padding: 0 30px 0 0;
}
@media (max-width: 959px) {
  .med-footer .med-info .med-logo {
    padding: 4px 4% 0 10px;
    width: 16%;
  }
  .med-footer .med-info .med-links {
    padding: 0 4% 0 0;
    width: 35%;
  }
  .med-footer .med-info .med-copyright {
    padding: 0 4% 0 0;
    width: 35%;
  }
}
@media (max-width: 639px) {
  .med-footer .med-info .med-logo {
    font-size: 14px;
    width: auto;
    padding: 0;
  }
  .med-footer .med-info .med-links {
    font-size: 14px;
    width: auto;
    padding: 0;
  }
  .med-footer .med-info .med-copyright {
    font-size: 14px;
    width: auto;
    padding: 0;
  }
}
/* -------------------- footer end-------------------- */
